*{
    margin: 0;
    padding: 0;
}

.container{
    width: 1140px;
    margin: 0px auto;
    padding: 50px 0px;
}

.form-section{
    width:100%;
    background: url(goose.jpg) center center no-repeat;
    height: 100vh;
    background-color: cover;
}

.form-bg{
    width: 45%;
    background: #fff;
    padding: 50px;
}

.image{
    text-align: center;
}

.image img{
    width: 30%;
    border-radius: 45%;
}

.btn{
    text-align: right;

}

input{
    padding: 8px 0px;
    border: none;
    border-bottom: 1px solid #000;
    width: 97%;
    margin: 10px 0px;
}

.name input{
    width: 47%;
      
}

.f-name{
    margin-right: 15px;
}

.password i{
    margin: -20px;
    color: #c56a6a;
}

.email i{
    margin: -20px;
    color: #c56a6a;
}

.phone i{
    margin: -20px;
    color: #c56a6a;
}

.address i{
    margin: -20px;
    color: #c56a6a;
}

.nation i{
    margin: -20px;
    color: #c56a6a;
}